:root {
    --template-menu: hsla(0, 0%, 43%, 0.2);
    --cor-font-dark-mode: rgb(242, 227, 227);
    --font-padrao:'Play', sans-serif;
    --cor-font-lightning: rgb(50, 50, 50);
    --hover-menu-color: rgb(48, 66, 47);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
    background: none;
}

.binForm {
    display: none;
}

.octalForm {
    display: none;
}

.decHexaForm {
    display: none;
}

.hexaDecForm {
    display: none;
}

.active {
    display: flex;
}
