@media screen and (min-width: 321px) {
    
}

@media screen and (min-width: 768px) {
    .tituloPrincipal {
        position: relative;
        
        font-size: 2rem;
    }

    .login-box {
        position: relative;
    }
}

@media screen and (min-width: 1025px) {
    
}

@media screen and (min-width: 1291px) {
    
}

@media screen and (min-width: 1441px) {
    
}